<!-- info#infracciones -->
<div class="row">
  <div class="col-md-12">
    <h1>Auto <%= @vehicle.plate %></h1>
  </div>
</div>

<% if @vehicle.infracciones_all %>
<!-- si hay infracciones -->
<div class="row">
  <div class="col-md-12">
    <h2>Infracciones</h2>
  </div>
</div>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Folio</th>
      <th>Motivo y fundamento</th>
      <th>Sanción</th>
      <th>Situación</th>
    </tr>
  </thead>
  <tbody>
    <% @vehicle.infracciones_all.each do |i| %>
    <tr>
      <td><%= i.date %></td>
      <td><%= i.id %></td>
      <td><%= i.cause %><br/><small><%= i.basis %></small></td>
      <td><%= i.sanction %></td>
      <td><%= i.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<!-- si no hay infracciones -->
<div id="alert-infracciones" class="alert alert-info">Su auto nunca ha
    sido infraccionado.</div> 
<% end %>

<!-- regresar -->
<p><a href="<%= url_for({ controller: 'info', action: 'results', plate: @vehicle.plate })%>">
    Regresar &raquo;</a></p>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/infracciones');
  ga('set', 'title', 'Info - Infracciones');
  ga('send', 'pageview');
</script>

<% if Rails.env.development? %>
<!-- debug -->
<h2>Debug</h2>
<h3>@params</h3>
<%= debug(@params) %>
<h3>@session</h3>
<%= debug(@session) %>
<h3>@vehicle.infracciones_all</h3>
<%= debug(@vehicle.infracciones_all) %>
<h3>@vehicle</h3>
<%= debug(@vehicle) %>
<% end %>
