<!-- info#results -->
<div class="row">
  <div class="col-md-12">
    <h1>Auto <%= @vehicle.plate %></h1>
  </div>
</div>

<div class="row">

  <!-- verificación -->
  <div class="col-md-6">
    <h2>Verficaciónes</h2>
    <% if @vehicle.verificacion_ok? %>
    <div class="alert alert-success">El próximo periodo para
      verificar su auto inicia el
      <%= @vehicle.verificacion_current_period_str %> y termina el 
      <%= @vehicle.verificacion_current_vigency_str %>.
    </div>
    <% end %>
    <% if @vehicle.verificacion_period? %>   
    <div class="alert alert-info"><strong>Debes llevar su auto a
        verificar antes del
        <%= @vehicle.verificacion_current_vigency_str %>.</strong></div>
    <% end %>
    <% if @vehicle.verificacion_expired? %>
    <div class="alert alert-warning"><strong>La verificación de su auto
        expiro el 
        <%= @vehicle.verificacion_current_vigency_str %>:</strong>
      Debe pagar una multa por verificación extemporanea antes de
      llevarlo a verificar.</div>
    <p><a href="#">Obtenga la linea de captura de su multa y consulte
        las opciones para pagarla &raquo;</a></p>
    <% end %>
    <% if @vehicle.verificacion_never? %>
    <div class="alert alert-info"><strong>Su auto nunca ha aprobado
        la verificación:</strong> Si recientemente registro su auto
      tiene 180 días naturales a partir de la fecha de alta en su
      tarjeta de circulación para que apruebe su primera
      verificación.</div>
    <div class="alert alert-warning"><strong>Si ya pasaron 180 días
        naturales a partir de la fecha de alta:</strong> Debe pagar
      una multa por verificación extemporanea antes de llevarlo a
      verificar por primera vez.</div>
    <p><a href="#">Obtenga la linea de captura de su multa y consulte las
        opciones para pagarla &raquo;</a></p>
    <% end %>
    
    <p><a href="#">Localize los verificentos donde puede llevar su
        auto a verificar &raquo;</a></p>
    <p><a href="#">Ver el historial de verificaciones de su auto
        &raquo;</a></p>
  </div>

  <!-- hoy no circula -->
  <div class="col-md-6">    
    <h2>Hoy no circula</h2>
    <% if @vehicle.verificacion_valid? %>
    <% if @vehicle.verificacion_result == 'dos' %>
    <p>Debido a que su auto obtuvo el
      holograma <strong><%= @vehicle.verificacion_result %></strong>
      en su última verificación y su placa termina en
      <strong><%= @vehicle.plate_ending_str %></strong>, no puede
      circular:</p>
    <ul>
      <li>Todos los <%= @vehicle.no_circula_weekday %> del año.</li>
      <li>El <%= @vehicle.no_circula_weekend %> de cada mes.</li>
    </ul>
    <% else %>
    <p>Debido a que su auto obtuvo el
      holograma <strong><%= @vehicle.verificacion_result %></strong> en
      su última verificación <strong>puede circular todos los
        días.</strong></p> 
    <% end %>
    <p><a href="#">Consulte la lista de días que su auto no puede
        circular &raquo;</a></p>
    <% end %>
    
    <% if @vehicle.verificacion_expired? %>
    <div class="alert alert-warning"><strong>Su auto no puede
        circular:</strong> Debe llevar a verificar su auto.</div>
    <% end %>
    
    <% if @vehicle.verificacion_never? %>
    <div class="alert alert-warning"><strong>Si ya pasaron 180 días
        naturales a partir de la fecha de alta:</strong> Su auto no
      puede circular.</div>
    <p>Debido a que nunca ha verificado su auto y su placa termina
      en <strong><%= @vehicle.plate_ending_str %></strong>, no puede
      circular:</p>
    <ul>
      <li>Todos los <%= @vehicle.no_circula_weekday %> del año.</li>
      <li>El <%= @vehicle.no_circula_weekend %> de cada mes.</li>
    </ul>
    <% end %>
  </div>
</div>

<div class="row">
  <!-- infracciones -->
  <div class="col-md-6">
    <h2>Infracciones</h2>
    <% if @vehicle.infracciones_unpaid > 0 %>
    <div class="alert alert-warning">
      <% if @vehicle.infracciones_unpaid > 1 %>
      <strong>Su auto tiene <%= @vehicle.infracciones_unpaid %>
        infracciones
      <% else %>
      <strong>Su auto tiene una infracción
      <% end %>
      sin pagar:</strong> Recuerde que debe realizar su pago antes de
      llevar su auto a verificar.</div>
    <p><a href="#">Consulte las opciones para pagar las infracciones de
        su auto &raquo;</a></p>
    <% else %>
    <div class="alert alert-success">Su auto no tiene infracciones sin
      pagar.</div>
    <% end %>
    <p><a href="#">Ver el historial de infracciones de su
        auto &raquo;</a></p>
  </div>

  <!-- tenencia -->
  <div class="col-md-6">
    <h2>Tenencia</h2>
    <% if @vehicle.tenencias_unpaid > 0 %>
    <div class="alert alert-warning">
      <% if @vehicle.tenencias_unpaid > 1 %>
      <strong>Su auto tiene adeudos por los años
      <% else %>
      <strong>Su auto tiene un adeudo por el año
      <% end %>
      <%= @vehicle.tenencias_unpaid_str %>:</strong> Recuerde que
      debe realizar su pago antes de llevar su auto a verificar.</div>
    <p><a href="#">Consulte las opciones para pagar la tenencia de su
        auto &raquo;</a></p>
    <% else %>
    <div class="alert alert-success">Su auto no tiene adeudos
      de tenencia.</div>
    <% end %>
  </div>
</div>

<!-- llamados a otras secciones -->
<div class="row">
  <div class="col-md-6">
    <h2>Avisos</h2>
    <p>Evite filas o mutas recibiendo avisos oportunos sobre sus
      obligaciones como automovilista particular del Distrito
      Federal.</p>
    <p><a href="<%= url_for({ controller: 'notices', action: 'home' })%>"
          id="btn-notices">Suscribirse &raquo;</a></p>          
    <h2>Respuestas</h2>
    <p>Encuentre las respuestas a sus preguntas sobre tramites de
      automoviles particulares del Distrito Federal.</p>
    <p><a id="btn-answers" href="#">Preguntar &raquo;</a></p>
  </div>
  <div class="col-md-6">
    <h2>Uso inteligente</h2>
    <p>Utilizar racionalmente su auto le puede ahorrar tiempo y
      dinero además de cuidar el medio ambiente de la Ciudad de
      México.</p>
    <p><a id="btn-inteligent" href="#">Conozca más &raquo;</a></p>
    <h2>Importante</h2>
    <p>La información mostrada tiene caracter informativo y no puede
      ser utilizada como un documento oficial. Conserve el último
      certificado de verificación de su auto y los pagos de tenencías e
      infracciones para cualquier aclaración.</p>
  </div>
</div>

<%= debug(@vehicle) if Rails.env.development? %>
<%= debug(@vehicle._verificacion_current) if Rails.env.development? %>
