<!-- info#results -->
<div class="row">
  <div class="col-md-12">
    <h1>Auto <%= @vehicle.plate %></h1>
  </div>
</div>

<%= render 'info' %>

<div class="row">
  <!-- verificacion -->
  <div class="col-md-6">
    <h2>Verificaciones</h2>
    <%= render 'verificacion' %>
  </div>

  <!-- hoy no circula -->
  <div class="col-md-6">    
    <h2>Hoy no circula</h2>
    <%= render 'no_circula' %>
  </div>
</div>

<div class="row">
  <!-- infracciones -->
  <div class="col-md-6">
    <h2>Infracciones</h2>
    <%= render 'infracciones' %>
  </div>
  
  <!-- tenencia -->
  <div class="col-md-6">
    <h2>Tenencia</h2>
    <%= render 'tenencia' %>
  </div>
</div>

<!-- llamados a otras secciones -->
<div class="row">
  <div class="col-md-6">
    <h2>Avisos</h2>
    <p>Evite filas o multas recibiendo avisos oportunos sobre sus
      obligaciones como automovilista particular del Distrito
      Federal.</p>
    <p><a href="<%= url_for({ controller: 'notices', action: 'home' })%>"
          id="btn-notices">Suscribirse &raquo;</a></p>          
    <h2>Respuestas</h2>
    <p>Encuentre las respuestas a sus preguntas sobre tramites de
      automoviles particulares del Distrito Federal.</p>
    <p><a href="<%= url_for({ controller: 'answers', action: 'home' })%>"
          id="btn-answers">Preguntar &raquo;</a></p>
  </div>
  <div class="col-md-6">
    <!-- <h2>Uso inteligente</h2>
    <p>Utilizar racionalmente su auto le puede ahorrar tiempo y
      dinero además de cuidar el medio ambiente de la Ciudad de
      México.</p>
    <p><a id="btn-inteligent" href="#">Conozca más &raquo;</a></p> -->
    <h2>Importante</h2>
    <p>La información mostrada tiene caracter informativo y no puede
      ser utilizada como un documento oficial. Conserve el último
      certificado de verificación de su auto y los pagos de tenencías e
      infracciones para cualquier aclaración.</p>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/results');
  ga('set', 'title', 'Info - Results');
  ga('send', 'pageview');
</script>

<% if Rails.env.development? %>
<!-- debug -->
<h2>Debug</h2>
<h3>@params</h3>
<%= debug(@params) %>
<h3>@session</h3>
<%= debug(@session) %>
<h3>@vehicle.verificacion_current</h3>
<%= debug(@vehicle.verificacion_current) %>
<h3>@vehicle.verificaciones</h3>
<%= debug(@vehicle.verificaciones) %>
<h3>@vehicle.registration_date</h3>
<%= debug(@vehicle.registration_date) %>
<h3>@vehicle</h3>
<%= debug(@vehicle) %>
<% end %>
