<div class="row">
  <div class="col-md-12">
    <h1>Vehículo <%= @vehicle.plate %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Verficación</h2>
    <% if @vehicle.emissions_found %>
    <%= debug(@vehicle.emissions_vigency) %>
    <div class="alert alert-info"><strong>El periodo de verficicación
        de tu auto esta en curso:</strong> Tienes hasta el 31 de
      Diciembre para verificar tu auto</div>
    <p><a href="#">Consulta los verificentos donde puedes acudir a
        verificar tu auto &raquo;</a></p>
    <p><a href="#">Ver historial de pruebas de emisiones
        &raquo;</a></p>
    <% else %>
    <div class="alert alert-warning"><strong>Tu auto no ha sido
        verificado</strong></div>
    <% end %>

    <h2>Hoy no circula</h2>
    <p>De acuerdo a la placa y holograma de tu auto no puede
      circular:</p>
    <ul>
      <li>Todos los viernes del año</li>
      <li>Los quintos sábados de cada mes</li>
    </ul>
    <p><a href="#">Consulta la lista de días que tu auto no puede
        circular &raquo;</a></p>
  </div>

  <div class="col-md-6">
    <h2>Infracciones</h2>
    <% if @vehicle.unpaid_tickets > 0 %>
    <div class="alert alert-warning">
      <% if @vehicle.unpaid_tickets > 1 %>
      <strong>Tienes <%= @vehicle.unpaid_tickets %> infracciones sin
        pagar:</strong>
      <% else %>
      <strong>Tienes una infracción sin pagar:</strong> 
      <% end %>
      Debes realizar su pago antes de acudir a la prueba de
      emisiones</div>
    <p><a href="#">Consulta las diferentes opciones para pagar
        infracciones &raquo;</a></p>
    <% else %>
    <div class="alert alert-success">Tu auto no tiene infracciones sin
      pagar</div>
    <% end %>
    <p><a href="#">Ver historial de infracciones &raquo;</a></p>

    <h2>Tenencia</h2>
    <% if @vehicle.unpaid_taxes > 0 %>
    <div class="alert alert-warning">
      <% if @vehicle.unpaid_taxes > 1 %>
      <strong>Tu auto tiene adeudos por los años
      <% else %>
      <strong>Tu auto tiene un adeudo por el año
      <% end %>
      <%= @vehicle.unpaid_taxes_sentence %>:</strong> Debes realizar
      su pago antes de acudir a la prueba de emisiones</div>
    <p><a href="#">Consulta las diferentes opciones para pagar
        la tenencia &raquo;</a></p>
    <% else %>
    <div class="alert alert-success">Tu auto no tiene adeudos
      de tenencia</div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Recordatorios</h2>
    <p>Evita filas o mutas recibiendo avisos oportunos sobre tus
      obligaciones como automovilista particular del Distrito
      Federal</p>
    <p><a id="btn-recordatorios" href="#">Date de alta &raquo;</a></p>          
    <h2>Respuestas</h2>
    <p>Encuentra las respuestas a tus preguntas sobre tramites de
      automoviles particulares del Distrito Federal</p>
    <p><a id="btn-respuestas" href="#">Pregunta &raquo;</a></p>
  </div>
  
  <div class="col-md-6">
    <h2>Uso inteligente</h2>
    <p>Utilizar racionalmente tu auto te puede ahorrar tiempo y
      dinero además de cuidar el medio ambiente de la Ciudad de
      México</p>
    <p><a id="btn-inteligente" href="#">Conoce más &raquo;</a></p>
    <h2>Importante</h2>
    <p>La información mostrada tiene caracter informativo y no puede
      ser utilizada como un documento oficial. Conserva tu último
      certificado de verificación y pagos de tenencías e infracciones
      para cualquier aclaración.</p>
  </div>
</div>

<%= debug(@vehicle) %>
