<!-- notices#home -->
<div class="row">
  <div class="col-md-12">
    <h1>Avisos</h1>
    <p class="lead">¿Por qué medio desea recibir sus avisos?</p>
  </div>
</div>

<!-- forma -->
<%= form_tag({ controller: 'notices', action: 'home' },
    { method: 'post', id: 'form-notices-home' }) do %>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <button id="btn-notices-home-email"
              class="btn btn-primary btn-notices-home"
              type="submit">Correo electrónico</button>
    </div>
    <div class="col-md-5">
      <button id="btn-notices-home-phone"
              class="btn btn-primary btn-notices-home" 
              type="submit">Llamada telefónica</button>
    </div>
  </div>

  <% if request.post? && params[:type] %>
  <div id="notices-subform">
    <% if params[:type] == 'EMAIL' %>
    <%= render 'email' %>
    <% elsif params[:type] == 'PHONE' %>
    <%= render 'phone' %>
    <% end %>
  </div>
  <% else %>
  <div id="notices-subform" style="display: none;"></div>
  <% end %>
<% end %>

<!-- btn_subforms & btn_active -->
<script>
  var btn_subforms = { 
  'btn-notices-home-email' : '<%= url_for({ controller: 'notices', action: 'email' }) %>',
  'btn-notices-home-phone' : '<%= url_for({ controller: 'notices', action: 'phone' }) %>'
  };
  <% if request.post?  && params[:type] %>
  <% if params[:type] == 'EMAIL' %>
  var btn_active = $('#btn-notices-home-email');
  <% elsif params[:type] == 'PHONE' %>
  var btn_active = $('#btn-notices-home-phone');
  <% end %>
  <% end %>
</script>

<!-- analytics -->
<script>
  ga('set', 'page', '/notices/home');
  ga('set', 'title', 'Notices - Home');
  ga('send', 'pageview');
</script>
