<!-- notices#home -->
<div class="row">
  <div class="col-md-12">
    <h1>Avisos</h1>
    <p class="lead">¿Por qué medio desea recibir sus avisos?</p>
  </div>
</div>

<!-- forma -->
<%= form_tag({ controller: 'notices', action: 'home' },
    { method: 'post', id: 'form-notices-home' }) do %>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <button id="btn-notices-home-email"
              class="btn btn-primary btn-notices-home"
              type="submit">Correo electrónico</button>
    </div>
    <div class="col-md-4">
      <button id="btn-notices-home-phone"
              class="btn btn-primary btn-notices-home" 
              type="submit">Llamada telefónica</button>
    </div>
    <div class="col-md-3">
      <button id="btn-notices-home-twitter" disabled="true"
              class="btn btn-primary btn-notices-home"
              type="submit">Mensaje de Twitter</button>
    </div>
  </div>

  <% if request.post? %>
  <div id="notices-subform">
    <% if params[:user][:via] == 'EMAIL' %>
    <%= render 'email' %>
    <% elsif params[:user][:via] == 'PHONE' %>
    <%= render 'phone' %>
    <% elsif params[:user][:via] == 'TWITTER' %>
    <%= render 'twitter' %>
    <% end %>
  </div>
  <% else %>
  <div id="notices-subform" style="display: none;"></div>
  <% end %>
<% end %>

<!-- btn_subforms & btn_active -->
<script>
  var btn_subforms = { 
  'btn-notices-home-email' : '<%= url_for({ controller: 'notices', action: 'email' }) %>',
  'btn-notices-home-phone' : '<%= url_for({ controller: 'notices', action: 'phone' }) %>',
  'btn-notices-home-twitter' : '<%= url_for({ controller: 'notices', action: 'twitter' }) %>'
  };
  <% if request.post? %>
  <% if params[:user][:via] == 'EMAIL' %>
  var btn_active = $('#btn-notices-home-email');
  <% elsif params[:user][:via] == 'PHONE' %>
  var btn_active = $('#btn-notices-home-phone');
  <% elsif params[:user][:via] == 'TWITTER' %>
  var btn_active = $('#btn-notices-home-twitter');
  <% end %>
  <% end %>
</script>

<!-- analytics -->
<script>
  ga('set', 'page', '/notices/home');
  ga('set', 'title', 'Notices - Home');
  ga('send', 'pageview');
</script>

<% if Rails.env.development? %>
<!-- debug -->
<h2>Debug</h2>
<h3>@params</h3>
<%= debug(@params) %>
<h3>@errors</h3>
<%= debug(@errors) %>
<h3>@user</h3>
<%= debug(@user) %>
<h3>@settings</h3>
<%= debug(@settings) %>
<% end %>
