<!-- notices#results -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">Suscribirse a recordatorios</h1>
    </div>
  </div>

  <!-- resultado -->
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <%= icon(:warning) %>
      <p class="msg"><strong>Debes confirmar tu suscripción.</strong></p> 
      <% if @user.email %>
      <p class="msg">Visita la página web que te enviamos por correo
        electrónico a <strong><%= @email.address %></strong> para
        confirmar que deseas recibir los recordatorios de tu auto con
        placa <strong><%= @user.plate %></strong>.</p>
      <% elsif @user.phone %>
      <p class="msg">Durante la llamada que realizaremos a tu
        teléfono <strong><%= @phone.number %></strong> debes confirmar
        que deseas recibir los recordatorios de tu auto con placa
        <strong><%= @user.plate %></strong> .</p>
      <% end %>
    </div>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/notices/results');
  ga('set', 'title', 'Notices - Results');
  ga('send', 'pageview');
</script>
