<!-- notices#phone -->
<input type="hidden" name="type" value="PHONE">

<div class="row">
  <div class="col-md-12">
    <p class="lead">¿Cual es la placa de su auto y su número
      de teléfono?</p>
  </div>
</div>

<% if request.post? %>
<% if @errors[:INVALID_USER_PLATE] && @errors[:INVALID_PHONE_NUMBER] %>
<div class="row">
  <div class="col-md-6">
    <div class="alert alert-warning"><strong>La placa que ingreso no es
        de un auto particular de la Ciudad de México.</strong></div>
  </div>
  <div class="col-md-6">
    <div class="alert alert-warning"><strong>El número de teléfono que
        ingreso no es valido.</strong></div>
  </div>
</div>
<% elsif @errors[:INVALID_USER_PLATE] || @errors[:INVALID_PHONE_NUMBER] %>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <% if @errors[:INVALID_USER_PLATE] %>
      <strong>La placa que ingreso no es de un auto particular de la
        Ciudad de México.</strong>
      <% end %>
      <% if @errors[:INVALID_PHONE_NUMBER] %>
      <strong>El número de teléfono que ingreso no es valido.</strong>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <input type="text" class="form-control"
                 id="input-notices-plate" name="user[plate]"
                 <% if request.post? && !@errors[:INVALID_USER_PLATE] %>
                 value="<%= @params[:user][:plate] %>"
                 <% end %>
                 placeholder="Placa de auto">
        </div>
      </div>
      <span class="help-block">Solo autos particulares de la Ciudad de
        México</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-9">
          <input type="phone" class="form-control"
                 id="input-notices-phone" name="phone[number]"
                 <% if request.post? && !@errors[:INVALID_PHONE_NUMBER] %>
                 value="<%= @params[:phone][:number] %>"
                 <% end %>
                 placeholder="Teléfono (10 digitos)">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="radio">
            <label>
              <input type="radio" name="phone[cellphone]" 
                     <%= phone_selected('cellphone', 'true', true) %>
                     value="true">
              Teléfono celular
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="radio">
            <label>
              <input type="radio" name="phone[cellphone]"
                     <%= phone_selected('cellphone', 'false', false) %>
                     value="false">
              Teléfono fijo
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'settings' %>

<div class="row">
  <div class="col-md-12">
    <p class="lead">¿En que horario desea recibir sus avisos?</p>
  </div>
</div>

<% if request.post? && @errors[:MISSING_PHONE_SCHEDULE] %>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning"><strong>Debe seleccionar por lo
        menos un horario.</strong></div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-2">
    <div class="checkbox">
      <label class="checkbox-inline">
        <input type="checkbox"
               <%= schedule_checked('morning', true) %>
               name="phone[morning]">        
        Mañana
        <span class="help-block">9 am a 12 pm</span>
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="checkbox">
      <label class="checkbox-inline">
        <input type="checkbox"
               <%= schedule_checked('afternoon', true) %>
               name="phone[afternoon]">        
        Tarde
        <span class="help-block">12 a 6 pm</span>
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="checkbox">
      <label class="checkbox-inline">
        <input type="checkbox"
               <%= schedule_checked('night', false) %>
               name="phone[night]">        
        Noche
        <span class="help-block">6 a 9 pm</span>
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <button id="btn-notices-ok" type="submit"
            class="btn btn-primary btn-notices-form">Continuar</button>
  </div>
</div>
