<!-- notices#phone -->
<div class="form-group">
  <label for="input-notcies-phone"
         class="col-md-4 control-label">¿Cuál es tu número
    telefonico?</label>
  <div class="col-md-4">
    <input id="input-notices-phone" type="text"
           class="form-control input-notices" 
           <% if params[:phone].present? && params[:phone][:number].present? %>
           value="<%= params[:phone][:number] %>"
           <% end %>
           placeholder="Teléfono (10 digitos)" name="phone[number]">
  </div>
  <div class="col-md-4 error-notices">
    <% if request.post? && @errors[:INVALID_PHONE_NUMBER] %>
    <%= icon(:error) %>
    <p class="msg"><strong>El número de teléfono no es
        valido.</strong></p>
    <% end %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">¿Qué tipo de teléfono nos
    proporcionas?</label>
  <div class="col-md-4">
    <div class="radio">
      <label>
        <input type="radio"
               <%= phone_selected('cellphone', 'true', false) %>
               name="phone[cellphone]" value="true">Teléfono
        celular</label>
    </div>
    <div class="radio">
      <label>
        <input type="radio"
               <%= phone_selected('cellphone', 'false', false) %>
               name="phone[cellphone]" value="false">Número
        fijo</label>
    </div>
  </div>
  <div class="col-md-4 error-notices">
    <% if request.post? && @errors[:MISSING_PHONE_CELLPHONE] %>
    <%= icon(:error) %>
    <p class="msg"><strong>Debes seleccionar el tipo de tu
        número telefonico.</strong></p>
    <% end %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">¿En qué horario prefieres
    recibir tus recordatorios?</label>
  <div class="col-md-4">
    <div class="checkbox">
      <label><input type="checkbox"
                    <%= schedule_checked('morning', true) %>
                    name="phone[morning]">Mañana</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"
                    <%= schedule_checked('afternoon', true) %>
                    name="phone[afternoon]">Tarde</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"
                    <%= schedule_checked('night', false) %>
                    name="phone[night]">Noche</label>    
    </div>
  </div>
  <div class="col-md-4 error-notices">
    <% if request.post? && @errors[:MISSING_PHONE_SCHEDULE] %>
    <%= icon(:error) %>
    <p class="msg"><strong>Debes seleccionar por lo
        menos un horario.</strong></p>
    <% end %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4 col-md-offset-4">
    <button id="btn-notices-ok" type="submit"
            class="btn btn-primary btn-wide">Suscribirse</button>
  </div>
</div>

