<h1>Bienvenido</h1>

<p>La información actual de su auto con placa 
  <strong><%= @user.plate %></strong> es:</p>

<h2>Verficacion</h2>

<%= render 'info/verificacion' %>

<h2>Hoy no circula</h2>

<%= render 'info/no_circula' %>

<h2>Infracciones</h2>

<%= render 'info/infracciones' %>

<h2>Tenencia</h2>

<%= render 'info/tenencia' %>

<h2>Avisos</h2>

<p>Recuerde que en cualquier momento puede modificar su suscripción o
  cancelarla en la siguiente dirección:</p>

<a href="<%= url_for(controller: 'notices', action: 'confirm', user: @user.id, only_path: false) %>">
  <%= url_for(controller: 'notices', action: 'confirm', user: @user.id, only_path: false) %></a>

<p>Gracias y saludos.</p>
