<div class="col-md-4">
  <div id="sidebar-answer">
    <% if @answer.contact || @answer.source %>
    <div class="cta-box">
      <h3>¿Más información?</h3>
      <% if @answer.contact %>
      <p class="cta-msg">
        <strong><%= @answer.contact.name %></strong></p>
      <% if @answer.contact.phone %>
      <%= icon(:phone) %>
      <p class="cta-msg item">
        <a onclick="trackClick('tel:<%= @answer.contact.phone %>', 
                    'Teléfono <%= @answer.contact.name %>');"
           href="tel:<%= @answer.contact.phone %>">
          <%= @answer.contact.phone %></a></p>
      <% end %>
      <% if @answer.contact.email %>
      <%= icon(:mail) %>
      <p class="cta-msg item">
        <a onclick="trackClick('mailto:<%= @answer.contact.email %>', 
                    'Correo electrónico <%= @answer.contact.name %>');"
           href="mailto:<%= @answer.contact.email %>">
          <%= @answer.contact.email %></a>
      </p>
      <% end %>
      <% if @answer.contact.address %>
      <%= icon(:address) %>
      <p class="cta-msg item">
        <% if gmap?(@answer.contact) %>
        <a onclick="trackClick('<%= gmap(@answer.contact) %>', 
                    'Dirección <%= @answer.contact.name %>');"
           href="<%= gmap(@answer.contact) %>">
          <%= @answer.contact.address.html_safe %>
        </a>
        <% else %>
        <%= @answer.contact.address.html_safe %>
        <% end %>
      </p>
      <% end %>
      <% end %>
      <% if @answer.source %>
      <%= icon(:web) %>
      <p class="cta-msg item">
        <a onclick="trackClick('<%= @answer.source %>',
                    'Web <%= @answer.title %>');"
           href="<%= @answer.source %>">
          <%= URI.parse(@answer.source).host %></a>
      </p>
      <% end %>
    </div>
    <% end %>

    <h4 class="title">Preguntas y respuestas relacionadas</h4>
    <%= render partial: 'answer', collection: related(@answer) %>
    <p><a href="<%= url_for({ controller: 'answers',
                action: 'category',
                category_url: @answer.category.url })%>">
        Ver más sobre <%= @answer.category.name %></a></p>
  </div>
</div>
