<% map = 'http://api.tiles.mapbox.com/v3/'
   map += ENV['VERIFICALO_MAPBOX_ID'] || 'xxxxxxxx.xxxxxxxx'
   map += '/pin-m-car+007FFF(' 
   map += verificentro.lon.to_s + ',' + verificentro.lat.to_s + ')/'
   map += verificentro.lon.to_s + ',' + verificentro.lat.to_s + ',15'
   map += '/394x222.png' %>

<div class="col-sm-6 verificentro">
  <h4 class="verificentro-title">Verificentro 
    <strong><%= verificentro.number %></strong></h4>
  <p class="verificentro-map">
    <a href="<%= gmap(verificentro) %>" target="_blank">
      <img class="img-responsive" src="<%= map %>" /></a></p>
  <%= icon(:address) %>
  <p class="item">
    <a href="<%= gmap(verificentro) %>"
       target="_blank"><%= verificentro.address %></a>
  </p>
  <%= icon(:phone) %>
  <p class="item"><%= pretty_phones(verificentro.phone) %></p>
</div>
