<%= render 'search' %>

<!-- answers#answer -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="title title-back"><%= @answer.title %></h2>
      <%= render 'back' %>
      <div class="answer left-answers">
        <%= render inline: @answer.body.html_safe %>
      </div>
    </div>
    <%= render 'sidebar' %>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/respuestas/<%= @answer.url %>');
  ga('set', 'title', '<%= @answer.title %>');
  ga('send', 'pageview');
</script>
