<%= render 'search' %>

<!-- answers#category -->
<div class="container">
  <div class="row">
    <div class="col-md-8 main-answers">
      <h2 class="title title-back"><%= @category.name %></h2>
      <p class="back-answers-top">
        <a href="<%= url_for({ controller: 'answers',
                 action: 'home' })%>">
          Regresar &raquo;</a></p>
      <div class="row">
        <% @answers.each do |a| %>
        <div class="col-sm-6">
          <%= render partial: 'answer', object: a %>
        </div>
        <% end %>
      </div>
      <p class="back-answers-bottom">
        <a href="<%= url_for({ controller: 'answers',
                 action: 'home' })%>">
          Regresar &raquo;</a></p>
    </div>
    <div id="sidebar-answer" class="col-md-4">
      <%= render 'cta' %>
      <%= render 'categories' %>
    </div>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/respuestas/<%= @category.url %>');
  ga('set', 'title', 'Respuestas de <%= @category.name %>');
  ga('send', 'pageview');
</script>
