<!-- answers#home -->
<div class="row">
  <div class="col-md-12">
    <h1>Respuestas</h1>
    <p>Visite las categorias o consulte las respuestas más utiles sobre
      autos particulares de la Ciudad de México.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <% @categories.in_groups_of((@categories.count/2).ceil) do |g| %>
    <div class="row">
      <% g.each do |c| %>
      <div class="col-md-6">
        <h3 class="category">
          <% if c.more_answers? %>
          <a href="<%= url_for({ controller: 'answers',
                   action: 'category',
                   category_url: c.url })%>"><%= c.name %></a>
          <% else %>
          <%= c.name %>
          <% end %>
        </h3>
        <% c.top_answers.each do |a| %>
        <p><a class="answer" href="<%= url_for({ controller: 'answers',
                                   action: 'answer',
                                   category_url: a.category.url,
                                   answer_url: a.url })%>">
            <%= a.title %></a></p>
        <% end %>
        <% if c.more_answers? %>
        <p><a href="<%= url_for({ controller: 'answers',
                    action: 'category',
                    category_url: c.url })%>">Ver más &raquo;</a></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render 'search' %>
  </div>
</div>
