<%= render 'search' %>

<% content_for :parent do %>
<p><a href="<%= url_for({ controller: 'answers',
            action: 'verificentros' })%>">
    Regresar &raquo;</a></p>    
<% end %>

<!-- answers#verificentros_delegacion -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="title title-back">Verificentros en
        <%= @delegacion.name %></h2>
      <%= render 'back' %>
      <div class="answer">
        <% @verificentros.each_slice(2) do |r| %>
        <div class="row">
          <%= render partial: 'verificentro', collection: r %>
        </div>
        <% end %>
      </div>
    </div>
    <%= render 'sidebar' %>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/respuestas/verificentros/<%= @delegacion.url %>');
  ga('set', 'title', 'Verificentros en <%= @delegacion.name %>');
  ga('send', 'pageview');
</script>
