<%= render 'search' %>

<% content_for :parent do %>
<p class="back-answers-top">
  <a href="<%= url_for({ controller: 'answers',
           action: 'verificentros' })%>">
    Regresar &raquo;</a></p>    
<% end %>

<!-- answers#verificentros_query -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="title title-back">Verificentros más cercanos</h2>
      <%= render 'back' %>
      <%= render 'verificentros_search' %>
      <div class="answer main-answers">
        <% if @verificentros && @verificentros.count > 0 %>
        <div id="verificentros">
          <% @verificentros.each_slice(2) do |r| %>
          <div class="row">
            <%= render partial: 'verificentro', collection: r %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <%= render 'sidebar' %>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/respuestas/verificentros/cercanos');
  ga('set', 'title', 'Verificentros cercanos');
  ga('send', 'pageview');
</script>
