<%= render 'search' %>

<!-- answers#verificentros -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="title title-back">¿Donde puedo verificar mi auto?</h2>
      <%= render 'back' %>
      <div class="answer">
        <p class="lead">Existen <%= @verificentros_count %> verificentros
          en la Ciudad de México donde puede llevar su auto a
          verificar.</p>
        <h4 class="title">Encuentre los verificentros más cercanos</h4>
        <%= render 'verificentros_search' %>
        <h4 class="title">Verificentros por delegación</h4>
        <div class="row">
          <% @delegaciones.in_groups_of((@delegaciones.count.to_f/2).ceil) do |g| %>
          <div class="col-sm-6">
            <% g.each do |d| %>
            <% next unless d %>
            <p>
              <% if d.verificentros.count > 0 %>
              <a class="btn-delegacion"
                 href="<%= url_for({ controller: 'answers', 
                       action: 'verificentros_delegacion',
                       delegacion_url: d.url })%>">
                <%= d.name %></a><br/>
              <% if d.verificentros.count > 1 %>        
              <small><%= d.verificentros.count %> verificentros</small>
              <% else %>
              <small>1 verificentro</small>
              <% end %>
              <% else %>
              <%= d.name %><br/><small>0 verificentros</small>
              <% end %>
            </p>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'sidebar' %>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/respuestas/verificentros');
  ga('set', 'title', '¿Donde puedo verificar mi auto?');
  ga('send', 'pageview');
</script>
