<%= render 'search' %>

<% content_for :parent do %>
<p><a href="<%= url_for({ controller: 'answers',
            action: 'verificentros' })%>">
    Regresar &raquo;</a></p>    
<% end %>

<!-- answers#verificentros_query -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="title title-back">Verificentros más cercanos</h2>
      <%= render 'back' %>
      <div class="answer">
        <%= render 'verificentros_search' %>
        <% if @verificentros %>
        <% if @verificentros.count < 1 %>
           <div class="row">
             <div class="col-xs-12 error-answers">
               <%= icon(:error) %>
               <p class="msg"><strong>No hay resultados.</strong></p>
               <p class="msg">Verifique la colonia o código postal que
                 ingreso.</p>  
             </div>
           </div>
           <% else %>
           <% @verificentros.each_slice(2) do |r| %>
           <div class="row">
             <%= render partial: 'verificentro', collection: r %>
           </div>
           <% end %>
           <% end %>
           <% else %>
           <div class="row">
             <div class="col-xs-12 error-answers">
               <%= icon(:error) %>
               <p class="msg"><strong>Intente más tard.</strong></p>
               <p class="msg">Tenemos problemas técnicos en la busqueda
                 de verificentros.</p>
             </div>
           </div>
           <% end %>
      </div>
    </div>
    <%= render 'sidebar' %>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/respuestas/verificentros/cercanos');
  ga('set', 'title', 'Verificentros cercanos');
  ga('send', 'pageview');
</script>
