<!-- answers#verificentros -->
<div class="row">
  <div class="col-md-12">
    <h1 class="question">¿Donde debo llevar mi auto a verificar?</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p class="answer">Existen <%= @verificentros_count %> verificentros
      en la Ciudad de México donde puede llevar su auto a
      verificar.</p>

    <h2 class="answer">Encuentre los verificentros más cercanos</h2>
    <%= render 'verificentros_query_form' %>
    
    <h2 class="answer">Consulte verificentros por delegación</h2>
    <% @delegaciones.in_groups_of((@delegaciones.count/2).ceil) do |g| %>
    <div class="col-md-6">
      <ul id="list-delegaciones">
        <% g.each do |d| %>
        <li>
          <% if d.verificentros.count > 0 %>        
          <a href="<%= url_for({ controller: 'answers', action:
                   'verificentros_delegacion', delegacion: d.url })%>">
            <%= d.name %></a><br/>
          <% if d.verificentros.count > 1 %>        
          <small><%= d.verificentros.count %> verificentros</small>
          <% else %>
          <small>1 verificentro</small>
          <% end %>
          <% else %>
          <%= d.name %><br/><small>0 verificentros</small>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
  
  <%= render 'sidebar' %>
</div>
