<!-- notices#confirm -->
<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h1>Avisos</h1>
  </div>
</div>

<!-- confirmacion -->
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <% if @error %>
    <div class="alert alert-warning">
      <strong><%= @error %></strong></div>
    <% else %>
    <div class="alert alert-success">La suscripción a los avisos de su
      auto con placa <strong><%= @user.plate %></strong> ha sido
      activada.</div>
    <% end %>
  </div>
</div>

<% if Rails.env.development? %>
<!-- debug -->
<h2>Debug</h2>
<h3>@params</h3>
<%= debug(@params) %>
<h3>@error</h3>
<%= debug(@error) %>
<h3>@user</h3>
<%= debug(@user) %>
<% end %>
