<!-- notices#error -->
<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h1>Avisos</h1>
  </div>
</div>

<!-- error -->
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="alert alert-warning"><strong>Ocurrio un
        error: </strong>Vuelva a intentarlo más tarde.</div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <a href="<%= url_for({ controller: 'notices', action: 'home' })%>"
       id="btn-notices-error" class="btn btn-primary">Regresar</a>
  </div>
</div>

<% if Rails.env.development? %>
<!-- debug -->
<h2>Debug</h2>
<h3>@params</h3>
<%= debug(@params) %>
<h3>@errors</h3>
<%= debug(@errors) %>
<h3>@user</h3>
<%= debug(@user) %>
<h3>@settings</h3>
<%= debug(@settings) %>
<% end %>
