<!-- notices#results -->
<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h1>Avisos</h1>
  </div>
</div>

<% if @error %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <% if @error == 'INVALID_PLATE' %>
    <div class="alert alert-warning"><strong>La placa que ingreso
        no es valida.</strong></div>
    <% elsif @error == 'INVALID_EMAIL' %>
    <div class="alert alert-warning"><strong>El correo electr贸nico que
        ingreso no es valido.</strong></div>
    <% elsif @error == 'INVALID_SETTINGS_COUNT' %>
    <div class="alert alert-warning"><strong>Debe seleccionar al menos
        un aviso.</strong></div>
    <% else %>
    <div class="alert alert-warning">
      <strong><%= @error %></strong></div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <a href="<%= url_for({ controller: 'notices', action: 'home' })%>"
       id="btn-notices-error" class="btn btn-primary">Regresar</a>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <% if @user.via == 'EMAIL' %>
    <div class="alert alert-info">Para activar la suscripci贸n a los
      avisos de su automovil con placa
      <strong><%= @user.plate %></strong> debe visitar la direcci贸n que
      le enviamos a su correo electr贸nico.</div>
    <% elsif @user.via == 'PHONE' %>
    <div class="alert alert-info">PHONE</div>
    <% end %>
  </div>
</div>
<% end %>

<%= debug(@user) if Rails.env.development? %>
<%= debug(@settings) if Rails.env.development? %>
