<!-- info#_header -->
<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <h1>AUTO <strong><%= @vehicle.plate %></strong></h1>
        <p><a href="<%= url_for({ controller: 'info', action: 'home' })%>">
            Cambiar placa &raquo;</a></p>
      </div>
      <div class="col-lg-8 col-md-7">
        <% if @vehicle.verificacion_current? %>
        <!-- si hay verificacion actual -->
        <div class="row">
          <div class="col-sm-4 col-xs-8 box-info">
            <p class="table-info-key">Marca</p>
            <p class="table-info-value">
              <%= @vehicle.verificacion_current_brand_str %>
              <%= @vehicle.verificacion_current_model_str %></p>
          </div>
          <div class="col-sm-2 col-xs-4 box-info">
            <p class="table-info-key">Modelo</p>
            <p class="table-info-value">
              <%= @vehicle.verificacion_current_year_str %></p>
          </div>
          <div class="col-sm-6 col-xs-12 box-info">
            <p class="table-info-key">Número de serie</p>
            <p class="table-info-value">
              <%= @vehicle.verificacion_current_vin_str %></p>
            <% if @vehicle.user_vin? %>
            <p><a href="<%= url_for({ action: 'reset', 
                        plate: @vehicle.plate,
                        item: 'vin' }) %>">
                Cambiar número de serie &raquo;</a></p>
            <% end %>
          </div>
        </div>
        <% else %>
        <!-- si no hay verificacion -->
        <div class="row">
          <% if @vehicle.user_vin? %>
          <div class="col-sm-6 col-xs-12
                      <% unless @vehicle.registration_date? %>
                      col-sm-offset-6
                      <% end %> box-info">
            <p class="table-info-key">Número de serie</p>
            <p class="table-info-value"><%= @vehicle.user_vin %></p>
            <p><a href="<%= url_for({ action: 'reset', 
                        plate: @vehicle.plate,
                        item: 'vin' }) %>">
                Cambiar número de serie &raquo;</a></p>
          </div>
          <% end %>
          <% if @vehicle.registration_date? %>
          <div class="col-sm-6 col-xs-12
                      <% unless @vehicle.user_vin? %>
                      col-sm-offset-6
                      <% end %> box-info">
            <p class="table-info-key">Fecha de Alta</p>
            <p class="table-info-value">
              <%= @vehicle.registration_date_str %></p>
            <p><a href="<%= url_for({ action: 'reset',
                        plate: @vehicle.plate,
                        item: 'alta' }) %>">
                Cambiar fecha de alta &raquo;</a></p>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
