<% if @vehicle.verificacion_current? %>
<!-- si hay verificacion actual -->
<table id="table-info" class="table table-condensed">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>VIN</th>
      <% if @vehicle.user_vin? %>
      <th>&nbsp;</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @vehicle.verificacion_current_brand_str %>
        <%= @vehicle.verificacion_current_model_str %></td>
      <td><%= @vehicle.verificacion_current_year_str %></td>
      <td><%= @vehicle.verificacion_current_vin_str %></td>
      <% if @vehicle.user_vin? %>
      <td><a href="<%= url_for({ action: 'reset', plate: @vehicle.plate,
                   item: 'vin' }) %>">Seleccionar otro VIN &raquo;</a></td>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% else %>
<!-- si no hay verificacion -->
<% if @vehicle.user_vin? %>
<div class="row row-info">
  <div class="col-md-4 col-sm-4">
    <p><strong>VIN</strong></p>
  </div>
  <div class="col-md-4 col-sm-4">
    <p><%= @vehicle.user_vin %></p>
  </div>
  <div class="col-md-4 col-sm-4">      
    <p><a href="<%= url_for({ action: 'reset', plate: @vehicle.plate,
                item: 'vin' }) %>">
        Seleccionar otro VIN &raquo;</a></p>
  </div>
</div>
<% end %>
<% if @vehicle.registration_date? %>
<hr class="hr-info-middle">
<div class="row row-info">
  <div class="col-md-4 col-sm-4">
    <p><strong>Fecha de Alta</strong></p>
  </div>
  <div class="col-md-4 col-sm-4">
    <p><%= @vehicle.registration_date_str %></p>
  </div>
  <div class="col-md-4 col-sm-4">
    <p><a href="<%= url_for({ action: 'reset', plate: @vehicle.plate,
                item: 'alta' }) %>">
        Cambiar fecha de alta &raquo;</a></p>
  </div>
</div>
<% end %>
<hr class="hr-info">
<% end %>
