<% if @vehicle.no_circula_cero? %>
<!-- calcomania 0 o 00 -->
<%= icon(:ok) %>
<p class="msg">Tu auto obtuvo el
  holograma 
  <strong><%= @vehicle.verificacion_last_approved_result %></strong> 
  en su última verificación y <strong>puede circular todos los
    días.</strong></p> 
<% end %>

<% if @vehicle.no_circula_dos? %>
<!-- calcomania 2 -->
<%= icon(:warning) %>
<p class="msg">Tu auto obtuvo el
  holograma 
  <strong><%= @vehicle.verificacion_last_approved_result %></strong> 
  en su última verificación y como su placa termina en
  <strong><%= @vehicle.plate_last_digit_str %></strong> no puede
  circular:</p>
<ul>
  <li>Todos los <%= @vehicle.no_circula_weekday_str %> del año.</li>
  <li>El <%= @vehicle.no_circula_weekend_str %> de cada mes.</li>
</ul>
<% end %>

<% if @vehicle.no_circula_never? %>
<!-- en periodo para 1a verificacion -->
<%= icon(:warning) %>
<p class="msg">Nunca has verificado tu auto y como su placa termina
  en <strong><%= @vehicle.plate_last_digit_str %></strong> no puede
  circular:</p>
<ul>
  <li>Todos los <%= @vehicle.no_circula_weekday_str %> del año.</li>
  <li>El <%= @vehicle.no_circula_weekend_str %> de cada mes.</li>
</ul>
<% end %>

<% if @vehicle.no_circula_expired? %>
<!-- verificacion vencida o fuera de periodo para 1a verificacion -->
<%= icon(:error) %>
<p class="msg"><strong>Tu auto no puede circular.</strong></p>
<p class="msg">Debes llevar a verificar tu auto.</p>
<% end %>
