<% if @vehicle.verificacion_valid? %>
<!-- verificados -->
<% if @vehicle.verificacion_result == 'dos' %>
<!-- calcomania 2 -->
<p>Debido a que su auto obtuvo el
  holograma <strong><%= @vehicle.verificacion_result %></strong>
  en su última verificación y su placa termina en
  <strong><%= @vehicle.plate_last_digit_str %></strong>, no puede
  circular:</p>
<ul>
  <li>Todos los <%= @vehicle.no_circula_weekday %> del año.</li>
  <li>El <%= @vehicle.no_circula_weekend %> de cada mes.</li>
</ul>
<% else %>
<!-- calcomania 0 o 00 -->
<p>Debido a que su auto obtuvo el
  holograma <strong><%= @vehicle.verificacion_result %></strong> en
  su última verificación <strong>puede circular todos los
    días.</strong></p> 
<% end %>
<% end %>

<% if @vehicle.verificacion_first_period_ok? %>
<!-- en periodo para la 1a verificacion -->
<p>Debido a que nunca ha verificado su auto y su placa termina
  en <strong><%= @vehicle.plate_last_digit_str %></strong>, no puede
  circular:</p>
<ul>
  <li>Todos los <%= @vehicle.no_circula_weekday %> del año.</li>
  <li>El <%= @vehicle.no_circula_weekend %> de cada mes.</li>
</ul>
<% end %>

<% if @vehicle.verificacion_expired? || 
   @vehicle.verificacion_first_period_expired? %>
<!-- sin verificacion o fuera de periodo para la 1a verificacion -->
<div class="alert alert-warning"><strong>Su auto no puede
    circular:</strong> Debe llevar a verificar su auto.</div>
<% else %>
<!-- con verificacion o en periodo para la 1a verificacion -->
<!-- <p><a href="#">Consulte la lista de días que su auto no puede
    circular &raquo;</a></p> -->
<% end %>    
