<div class="row">
  <% if @vehicle.verificacion_valid? %>
  <!-- verificados -->
  <% if @vehicle.verificacion_result == 'dos' %>
  <!-- calcomania 2 -->
  <div class="col-xs-12">
    <p>Debido a que su auto obtuvo el
      holograma <strong><%= @vehicle.verificacion_result %></strong>
      en su última verificación y su placa termina en
      <strong><%= @vehicle.plate_last_digit_str %></strong>, no puede
      circular:</p>
  </div>
  <div class="col-xs-12">
    <ul>
      <li>Todos los <%= @vehicle.no_circula_weekday %> del año.</li>
      <li>El <%= @vehicle.no_circula_weekend %> de cada mes.</li>
    </ul>
  </div>
  <% else %>
  <!-- calcomania 0 o 00 -->
  <div class="col-xs-12">
    <p>Debido a que su auto obtuvo el
      holograma <strong><%= @vehicle.verificacion_result %></strong> en
      su última verificación <strong>puede circular todos los
        días.</strong></p> 
  </div>
  <% end %>
  <% end %>
  
  <% if @vehicle.verificacion_first_period_ok? %>
  <!-- en periodo para la 1a verificacion -->
  <div class="col-xs-12">
    <p>Debido a que nunca ha verificado su auto y su placa termina
      en <strong><%= @vehicle.plate_last_digit_str %></strong>, no puede
      circular:</p>
  </div>
  <div class="col-xs-12">
    <ul>
      <li>Todos los <%= @vehicle.no_circula_weekday %> del año.</li>
      <li>El <%= @vehicle.no_circula_weekend %> de cada mes.</li>
    </ul>
  </div>
  <% end %>
  
  <% if @vehicle.verificacion_expired? || 
     @vehicle.verificacion_first_period_expired? %>
  <!-- sin verificacion o fuera de periodo para la 1a verificacion -->
  <div class="col-xs-1 red">&#11044;</div>
  <div class="col-xs-11">
    <p><strong>Su auto no puede circular.</strong></p>
    <p>Debe llevar a verificar su auto.</p>
  </div>
  <% else %>
  <!-- con verificacion o en periodo para la 1a verificacion -->
  <!-- <p><a href="#">Consulte la lista de días que su auto no puede
       circular &raquo;</a></p> -->
  <% end %>    
</div>
