<div class="col-md-4 col-sm-6">
  <% if @vehicle.verificacion_ok? %>
  <!-- verificacion vigente -->
  <%= icon(:ok) %>
  <p class="msg">El próximo periodo para
    verificar tu auto inicia el
    <%= @vehicle.verificacion_current_period_str %> y
    termina el 
    <%= @vehicle.verificacion_current_vigency_str %>.</p>
  <% end %>
  
  <% if @vehicle.verificacion_period? %>   
  <!-- en periodo para verificar -->
  <%= icon(:warning) %>
  <p class="msg"><strong>Tu auto debe aprobar
      la verificación a más tardar el 
      <%= @vehicle.verificacion_current_vigency_str %>.</strong></p>
  <% end %>
  
  <% if @vehicle.verificacion_expired? %>
  <!-- verificacion vencida -->
  <%= icon(:error) %>
  <p class="msg"><strong>La verificación de tu auto vencio el 
      <%= @vehicle.verificacion_current_expired_str %>.</strong>
  </p>
  <p class="msg">Debes pagar una multa por verificación extemporanea antes de
    llevar tu auto a verificar.</p>
  <% end %>

  <% if @vehicle.verificacion_first_ok? %>
  <!-- en periodo para 1a verificacion -->
  <%= icon(:warning) %>
  <p class="msg"><strong>Tu auto debe aprobar la verificación a más
      tardar el <%= @vehicle.verificacion_first_end_str %>.</strong></p>
  <p class="msg">Tienes 180 días naturales a partir de la fecha de
    alta para que apruebe la verificación por primera vez.</p>
  <% end %>
  
  <% if @vehicle.verificacion_first_expired? %>
  <!-- fuera de periodo para 1a verificacion -->
  <%= icon(:error) %>
  <p class="msg"><strong>El periodo para verificar tu auto por
      primera vez termino el 
      <%= @vehicle.verificacion_first_end_str %></strong>
  </p>
  <p class="msg">Debes pagar una multa por verificación extemporanea
    antes de llevar a verificar tu auto por primera vez.</p>
  <% end %>
</div>

<div class="col-md-4 col-sm-6">
  <!-- links sobre verificacion -->
  <p><a href="<%= url_for({ controller: 'answers',
              action:'answer', category_url: 'verificacion',
              answer_url: 'que-holograma-puede-obtener-mi-auto' })%>"
        class="btn btn-primary btn-sm btn-wide">¿Qué holograma puede
      obtener mi auto?</a></p>
  <p><a href="<%= url_for({ controller: 'answers',
              action:'verificentros' })%>"
        class="btn btn-primary btn-sm btn-wide">¿Donde puedo verificar
      mi auto?</a></p>
  <p><a href="<%= url_for({ controller: 'answers',
              action: 'category', category_url: 'verificacion' })%>"
        class="btn btn-primary btn-sm btn-wide">Ver más sobre Verificación</a></p>
  <p><a href="<%= url_for({ controller: 'info',
              action: 'verificaciones', 
              plate: @vehicle.plate })%>"
        class="btn btn-primary btn-sm btn-wide">Mi historial de
      verificaciones</a></p>
</div>
