<div class="col-md-6">
  <div class="row">
    <% if @vehicle.verificacion_ok? %>
    <!-- verificacion vigente -->
    <div class="col-xs-1 green">&#11044;</div>
    <div class="col-xs-11"><p>El próximo periodo para verificar su auto
        inicia el <%= @vehicle.verificacion_current_period_str %> y
        termina el 
        <%= @vehicle.verificacion_current_vigency_str %>.</p></div>
    <% end %>
    
    <% if @vehicle.verificacion_period? %>   
    <!-- en periodo para verificar -->
    <div class="col-xs-1 yellow">&#11044;</div>
    <div class="col-xs-11"><p><strong>Su auto debe aprobar
          la verificación antes del 
          <%= @vehicle.verificacion_current_vigency_str %>.</strong></p>
    </div>
    <% end %>
    
    <% if @vehicle.verificacion_expired? %>
    <!-- verificacion vencida -->
    <div class="col-xs-1 red">&#11044;</div>
    <div class="col-xs-11">
      <p><strong>La verificación de su auto expiro el 
          <%= @vehicle.verificacion_current_vigency_str %>.</strong>
      </p>
      <p>Debe pagar una multa por verificación extemporanea antes de
        llevar su auto a verificar.</p>
    </div>
    <% end %>
  
    <% if @vehicle.verificacion_first_period_ok? %>
    <!-- en periodo para 1a verificacion -->
    <div class="col-xs-1 yellow">&#11044;</div>
    <div class="col-xs-11"><p><strong>Su auto debe aprobar
          la verificación antes del 
          <%= @vehicle.verificacion_first_period_end_str %>.</strong></p>
      <p>Nunca ha verificado su auto por lo que tiene 180 días naturales a
        partir de la fecha de alta para que apruebe la verificación por
        primera vez.</p></div>
    <% end %>
    
    <% if @vehicle.verificacion_first_period_expired? %>
    <!-- fuera de periodo para 1a verificacion -->
    <div class="col-xs-1 red">&#11044;</div>
    <div class="col-xs-11">
      <p><strong>El periodo para verificar su auto por primera vez
          termino el 
          <%= @vehicle.verificacion_first_period_end_str %>:</strong>
      </p>
      <p>Debe pagar una multa por verificación extemporanea
        antes de llevar a verificar su auto por primera vez.</p>
    </div>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <!-- links sobre verificacion -->
  <p><a href="<%= url_for({ controller: 'answers',
              action:'answer', category_url: 'verificacion',
              answer_url: 'que-necesito-para-verificar' })%>"
        class="btn btn-primary btn-sm btn-wide">¿Qué necesito para
      verificar mi auto?</a></p>
  <p><a href="<%= url_for({ controller: 'answers',
              action:'verificentros' })%>"
        class="btn btn-primary btn-sm btn-wide">¿Donde puedo verificar
      mi auto?</a></p>
  <p><a href="<%= url_for({ controller: 'answers',
              action: 'category',
              category_url:'verificacion' })%>"
        class="btn btn-primary btn-sm btn-wide">Preguntas y respuestas
      sobre Verificación</a></p>
  <p><a href="<%= url_for({ controller: 'info',
              action: 'verificaciones', 
              plate: @vehicle.plate })%>"
        class="btn btn-primary btn-sm btn-wide">Mi historial de
      verificaciones</a></p>
</div>
