<!-- info#registration -->
<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>AUTO <strong><%= @vehicle.plate %></strong></h1>
        <p><a href="<%= url_for({ controller: 'info', action: 'home' })%>">
            Cambiar placa &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<!-- forma -->
<%= form_tag({ controller: 'info', action: 'results', plate: @vehicle.plate },
    { method: 'post', id: 'form-info' }) do %>

<div class="container">  
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <% if @vehicle.registration_date? && !@vehicle.registration_date_valid? %>
      <%= icon(:error) %>
      <p class="msg"><strong>La fecha que ingreso no es
          valida.</strong></p>
      <p class="msg">Su auto nunca ha aprobado la
        verificación y para brindarle información
        precisa necesitamos conocer la fecha de alta de su auto,
        puede consultarla en su tarjeta de circulación.</p>
      <% else %>
      <%= icon(:question) %>
      <p class="msg"><strong>Su auto nunca ha aprobado la
          verificación.</strong></p>
      <p class="msg">Para brindarle información
        precisa necesitamos conocer la fecha de alta de su auto,
        puede consultarla en su tarjeta de circulación.</p>
      <% end %>
    </div>
    
    <div class="col-md-6 col-md-offset-1 col-xs-12">
      <div class="row">
        <div class="col-sm-3">
          <input id="input-info-registration_day"
                 name="registration[day]" type="text"
                 placeholder="Día" class="form-control input-info">
        </div>
        <div class="col-sm-6">
          <!-- <input id="input-info-registration_month"
               name="registration[month]" type="text"
               placeholder="Mes" class="form-control"> -->
          <select id="select-info-registration_month"
                  name="registration[month]"
                  class="form-control input-info">
            <option value="0">Mes</option>
            <option value="1">enero</option>
            <option value="2">febrero</option>
            <option value="3">marzo</option>
            <option value="4">abril</option>
            <option value="5">mayo</option>
            <option value="6">junio</option>
            <option value="7">julio</option>
            <option value="8">agosto</option>
            <option value="9">septiembre</option>
            <option value="10">octubre</option>
            <option value="11">noviembre</option>
            <option value="12">diciembre</option>
          </select>
        </div>
        <div class="col-sm-3">
          <input id="input-info-registration_year"
                 name="registration[year]" type="text"
                 placeholder="Año" class="form-control input-info">
        </div>
        <div class="col-xs-12">
          <button type="submit"
                  class="btn btn-primary 
                         submit-info">Continuar</button>    
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/alta');
  ga('set', 'title', 'Introducir fecha de alta');
  ga('send', 'pageview');
</script>
