<%= render 'header' %>

<!-- info#results -->
<div class="container">
  <div class="row">
    <!-- verificacion -->
    <div class="col-xs-12">
      <h2 class="title">Verificación</h2>
    </div>
    <%= render 'verificacion' %>
    <!-- recordatorios -->
    <div class="col-md-4 col-sm-12 cta-info">
      <%= render 'cta' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- hoy no circula -->
    <div class="col-md-4">
      <h2 class="title">Hoy no circula</h2>
      <%= render 'no_circula' %>
    </div>
  
    <!-- infracciones -->
    <div class="col-md-4">
      <h2 class="title">Infracciones</h2>
      <%= render 'infracciones' %>
    </div>
    
    <!-- tenencia -->
    <div class="col-md-4">
      <h2 class="title">Tenencia</h2>
      <%= render 'tenencia' %>
    </div>
  </div>
</div>

<%= render('legal') %>

<!-- analytics -->
<script>
  ga('set', 'page', '/info');
  ga('set', 'title', 'Información de auto');
  ga('send', 'pageview');
</script>
