<!-- info#results -->
<div id="head-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <h1>AUTO <strong><%= @vehicle.plate %></strong></h1>
        <p><a href="<%= url_for({ controller: 'info', action: 'home' })%>">
            Cambiar placa &raquo;</a></p>
      </div>
      <div class="col-lg-8 col-md-7">
        <%= render 'info' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h2 class="info">Verificación</h2>
        </div>
      </div>
      <div class="row">
        <!-- verificacion -->
        <%= render 'verificacion' %>
      </div>
    </div>
    <!-- recordatorios -->
    <div class="col-md-4">
      <div class="cta-box">
        <h3>Recordatorios</h3>
        <p class="cta">Evita filas o multas recibiendo avisos oportunos
          sobre tus obligaciones como automovilista particular de la Ciudad
          de México.</p>
        <div class="row">
          <div class="col-xs-12">
            <a href="<%= url_for({ controller: 'notices',
                     action: 'home' })%>" id="btn-notices"
               class="pull-right">¡Suscríbete!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- hoy no circula -->
    <div class="col-md-4">
      <h2 class="info">Hoy no circula</h2>
      <%= render 'no_circula' %>
    </div>
  
    <!-- infracciones -->
    <div class="col-md-4">
      <h2 class="info">Infracciones</h2>
      <%= render 'infracciones' %>
    </div>
    
    <!-- tenencia -->
    <div class="col-md-4">
      <h2 class="info">Tenencia</h2>
      <%= render 'tenencia' %>
    </div>
  </div>
</div>

<!-- importante -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="info">Importante</h2>
      <p>La información mostrada tiene caracter informativo y no puede
        ser utilizada como un documento oficial. Conserve el último
        certificado de verificación de su auto y los pagos de tenencías e
        infracciones para cualquier aclaración.</p>
    </div>
  </div>
</div>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/results');
  ga('set', 'title', 'Info - Results');
  ga('send', 'pageview');
</script>
