<%= render 'header' %>

<!-- info#results -->
<div class="container">
  <div class="row">
    <!-- verificacion -->
    <div class="col-xs-12">
      <h2 class="title">Verificación</h2>
    </div>
    <%= render 'verificacion' %>
    <!-- recordatorios -->
    <div class="col-md-4 col-sm-12">
      <div class="cta-box">
        <h3>Recordatorios</h3>
        <p class="cta-msg">Evita filas o multas recibiendo avisos
          oportunos sobre tus obligaciones como automovilista
          particular de la Ciudad de México.</p>
        <div class="row">
          <div class="col-xs-12">
            <a href="<%= url_for({ controller: 'notices',
                     action: 'home' })%>" id="btn-notices"
               class="pull-right">¡Suscríbete!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- hoy no circula -->
    <div class="col-md-4">
      <h2 class="title">Hoy no circula</h2>
      <%= render 'no_circula' %>
    </div>
  
    <!-- infracciones -->
    <div class="col-md-4">
      <h2 class="title">Infracciones</h2>
      <%= render 'infracciones' %>
    </div>
    
    <!-- tenencia -->
    <div class="col-md-4">
      <h2 class="title">Tenencia</h2>
      <%= render 'tenencia' %>
    </div>
  </div>
</div>

<%= render('legal') %>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/results');
  ga('set', 'title', 'Info - Results');
  ga('send', 'pageview');
</script>
