<%= render 'header' %>

<!-- info#verificaciones -->
<div class="container">
  <div class="row">
    <% if @vehicle.verificaciones? %>
    <!-- si hay verificaciones -->  
    <div class="col-xs-12">
      <h2 class="title history-title">Verificaciones</h2>
      <p class="back-info-top">
        <a href="<%= url_for({ action: 'results', 
                 plate: @vehicle.plate })%>">
          Regresar &raquo;</a></p>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped table-condensed history">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Verificentro</th>
              <th>Linea</th>
              <!-- <th>Combustible</th> -->
              <th>Certificado</th>
              <th>Vigencia</th>
              <th>Resultado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @vehicle.verificaciones_all.each do |v| %>
            <tr>
              <td><%= v.date %></td>
              <td><%= v.time %></td>
              <td><%= v.verificentro %></td>
              <td><%= v.line %></td>
              <!-- <td><%= v.fuel %></td> -->
              <td><%= v.cert %></td>
              <td><%= v.vigency %></td>
              <td><%= v.result %></td>
              <td>
                <% if v.cancel == true %>
                CERTIFICADO CANCELADO
                <% end %>
                <% if v.cancel == true && v.result == 'RECHAZO' %>
                <br/>
                <% end %>
                <% if v.result == 'RECHAZO' %>
                <small><%= v.reject %></small>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% else %>
    <!-- si no hay verificaciones -->
    <div class="col-xs-12">
      <h2 class="title history-title">Infracciones</h2>
    </div>
    <div class="col-xs-12 empty-info">
      <%= icon(:warning) %>
      <p class="msg">Tu auto nunca ha sido verificado.</p> 
    </div>
    <% end %>
    
    <!-- regresar -->
    <div class="col-xs-12">
      <p class="back-info-bottom">
        <a href="<%= url_for({ action: 'results', plate: @vehicle.plate })%>">
          Regresar &raquo;</a></p>
    </div>
  </div>
</div>

<%= render('legal') %>

<!-- analytics -->
<script>
  ga('set', 'page', '/info/verificaciones');
  ga('set', 'title', 'Historial de verificaciones');
  ga('send', 'pageview');
</script>
