<!-- info#vin -->
<div id="header-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>AUTO <strong><%= @vehicle.plate %></strong></h1>
        <p><a href="<%= url_for({ controller: 'info', action: 'home' })%>">
            Cambiar placa &raquo;</a></p>
      </div>
    </div>
  </div>
</div>

<!-- forma -->
<%= form_tag({ controller: 'info', action: 'results', plate: @vehicle.plate },
    { method: 'post', id: 'form-info' }) do %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
    <% if request.post? && !@vehicle.user_vin_valid? %>
    <%= icon(:error) %>    
      <p class="msg"><strong>No selecciono un número de
          serie.</strong></p>
    <p class="msg">Hay mas de un auto verificado con esa placa y para
      brindarle información precisa necesitamos seleccione el número de
      serie o VIN de su auto. Puede consultarlo en su tarjeta de
      circulación, factura o chasis de su auto.</p>
    <% else %>
    <%= icon(:question) %>
    <p class="msg"><strong>Hay más de un auto verificado
        con esa placa.</strong></p>
    <p class="msg">Para brindarle información precisa necesitamos
      seleccione el número de serie o VIN de su auto, puede
      consultarlo en su tarjeta de circulación, factura o chasis de
      su auto.</p>
    <% end %>
    </div>

    <div class="col-md-8 col-xs-12">
      <div class="row">
        <% @vehicle.verificaciones_vins.each do |v| %>
        <div class="col-sm-6 col-xs-12">
          <div class="radio input-info">
            <label>
              <input type="radio" name="vin" value="<%= v %>">
              <%= v %>
            </label>
          </div>
        </div>
        <% end %>
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary
                                       btn-wide
                                       submit-info">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
  
<!-- analytics -->
<script>
  ga('set', 'page', '/info/vin');
  ga('set', 'title', 'Info - VIN');
  ga('send', 'pageview');
</script>
